<article class="l-design-widht">
    <div class="card">
    <h2>Timer</h2>
    <label class="input">
      <input class="input__field" type="text" placeholder=" " />
      <span class="input__label">Taskname</span>
      <div class="button-group">
        <button ng-click="start()"type="submit"><mat-icon class="icon">play_circle</mat-icon></button>
        <!-- <button ng-click="reset()" type="reset"></button> -->
      </div>
    </label>
  </div>
</article>
<article class="l-design-widht">
  <div class="card">
  <h2>Data</h2>
  <table mat-table [dataSource]="dataSource" class="table">

    <!-- Position Column -->
    <ng-container matColumnDef="taskname">
      <th mat-header-cell *matHeaderCellDef> Taskname </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  </article>
  
  
    <!-- <div class="card card--inverted">
    <h2>Colors</h2>
    <p>Play around with the colors</p>
    <input type="color" data-color="light" value="#ffffff" />
    <input type="color" data-color="dark" value="#212121" />
    <input type="color" data-color="signal" value="#fab700" />
  </div>
</article> -->

