<article class="l-design-widht">

    <div class="card">
    <h2>Timer</h2>
    <label class="input">
      <input class="input__field" type="text" placeholder=" " />
      <span class="input__label">Taskname</span>
      <div class="button-group">
        <button ng-click="start()"type="submit"><mat-icon class="icon">play_circle</mat-icon></button>
        <!-- <button ng-click="reset()" type="reset"></button> -->
      </div>
    </label>
  </div>
  
    <!-- <div class="card card--inverted">
    <h2>Colors</h2>
    <p>Play around with the colors</p>
    <input type="color" data-color="light" value="#ffffff" />
    <input type="color" data-color="dark" value="#212121" />
    <input type="color" data-color="signal" value="#fab700" />
  </div>
</article> -->

